In [8]:
import pandas as pd

In [13]:
movies = pd.read_csv('data/movies.csv')

In [14]:
movies.head(10)

                       movie_title
0  Snow White and the Seven Dwarfs
1                        Pinocchio
2                         Fantasia
3                Song of the South
4                       Cinderella
5     20,000 Leagues Under the Sea
6               Lady and the Tramp
7                  Sleeping Beauty
8                   101 Dalmatians
9      The Absent Minded Professor